body {
  /* background-color: bisque; */
  display:flex;
  padding: 1em;
  color: rgb(244, 233, 233);

  /* font-size: 1.5em; */
}
h1 {
  margin: 5px;
  padding: 5px;
  color: #e5c40b;
  font-size: 60px;
  text-shadow: 2px 2px #213839;
}

input {
  font-size: 25px;
  margin: 2px;
}


#add-button {
border-radius:20px;
font-size:25px;
margin:5px;
width: 7%;
filter: drop-shadow(2px 2px #353333);
border: solid 3px #e5c40b;
background-color:transparent;
color:rgb(244, 233, 233);
font-weight:bolder;
}

#add-button:hover {
  background-color: #e5c40b;
  color:rgb(244, 233, 233);
  text-shadow: 1px 1px #213839;
  border: solid 3px #e5c40b;
}

#remove-button:hover {
  background-color: #e5c40b;
  color:rgb(244, 233, 233);
  text-shadow: 1px 1px #213839;
  border: solid 3px #e5c40b;
}

#remove-button {
  border-radius:50px;
  width:7%;
  font-size:25px;
  margin:5px;
  filter: drop-shadow(2px 2px #353333);
  border: solid 3px #e5c40b;
  background-color:transparent;
  color:rgb(244, 233, 233);
  font-weight:bolder;
}

#checkbox {
  font-size: 25px;
}

button.submit {
  background-color:transparent;
  font-size:25px;
  font-weight: bolder;
  color:rgb(244, 233, 233);
  border: solid 3px #e5c40b;
  justify-content: center;
  margin-top: 0.5em;
  align-items: center;
  margin-left: 40%;
  text-shadow:none;
  filter: drop-shadow(2px 2px #353333);
  /* filter: drop-shadow(0 0); */
  /* text-shadow:none; */
}

button.submit:hover{
  background-color: #e5c40b;
  color:rgb(244, 233, 233);
  text-shadow: 1px 1px #213839;
  border: solid 3px #e5c40b;
}

.submit {
  text-shadow: 2px 2px #213839;
  border-radius: 15px;
  padding: 8px;
  /* color: rgb(244, 233, 233); */
  justify-content: center;
  margin-top: 0.5em;
  /* padding-left: 5px; */
  font-size: 25px;
  align-items: center;
  
}

body > form > .recipes-result-container {

  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left:4em;
 
  /* background-color:bisque; opacity:  50%; */
  /* background-color: blue; */
  /* margin-top: 0.5em; */
  padding: 5px;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  align-items: center;
}


.recipes-result-container > .recipes-result--title {
  border-radius: 11px;
  padding: 3px;
  /* border: solid 3px #e5c40b; */
  font-weight: bold;
  line-height:35px;
  /* text-shadow: 2px 2px #213839; */
  /* filter: drop-shadow(2px 2px #213839); */
  /* background-color: rgb(244, 233, 233); */
}

.recipes-result-container > #result {
  margin: 5px;
  border-radius: 5px;
  border: solid 5px #e5c40b;
  filter: drop-shadow(2px 2px #213839);
}

body > form > .recipes-result-container > #looking {
  height: 50px;
  /* background-color: blue; */
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  height: 6em;
}

/* body > .looking-container > img {
  height: 5em;
} */
