body {
  /* background-color: bisque; */
  padding: 1em;
  color: brown;
  font-size: 1.5em;
}

#buttons {
  display: flex;
  width: 2em;
  margin-top:.5em;
  margin-left: 1em;
  justify-content: space-between;
}

body > .recipes-result-container {
  margin: 1em auto;
  width: 80%;
  /* background-color:bisque; opacity:  50%; */
  
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body > .looking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}

body > .looking-container > img {
  height: 5em;
}